
.lnk-return.enlace::before {
    background: url("../img/return-left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 22px;
    margin-bottom: 2px;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
    width: 15px;
}